

{% block user %}
<div class="login-area">
  <div class="wrapper text-center">
    <div class="title text-uppercase text-center">Quên mật khẩu</div>
    <hr>
    <form class="form-login d-flex flex-column justify-content-center align-items-center" method="post">
      {% csrf_token %}
      <input type="text" name="email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" required="" id="id_email" placeholder="Email" {% if email %}disabled{% endif %} value="{{ email|default:'' }}">
      {% if check_email == False %}
      <span class="check-invalid">Email không tồn tại</span>
      {% endif %}
      <div class="otp-area">
        <input type="text" name="otp" maxlength="6" id="id_otp" placeholder="Mã OTP" style="min-width: 250px;" value="{{ otp|default:'' }}">
        <button type="submit" name="send-otp" class="btn-login" style="min-width: 140px;">Gửi mã OTP</button>
      </div>
      {% if check_otp == False %}
      <span class="check-invalid">Mã OTP không chính xác</span>
      {% endif %}
      {% if newpassword %}
      <div class="new-password">
        <span style="min-width: 140px; display: inline-block;">Mật khẩu mới:</span>
        <input type="text" name="new-password" disabled value="{{ newpassword }}" style="min-width: 250px;">
      </div>
      {% endif %}
      <button type="submit" name="submit-form" class="btn-login">Xác nhận</button>
    </form>
    <hr>
    <a href="{% url 'userauths:sign-in' %}" class="btn-register">Đăng nhập</a>
  </div>
</div>

{% endblock %}