*{
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
a{
	text-decoration: none;
}
ul, li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.clear{
	clear: both;
}
body {
	font-size: 14px;
	font-family: arial;
	background: #fff;
}

#content h2.title-news{
	text-transform: uppercase;
	font-size: 25px;
	color: #333;
	font-weight: 600;
}
.content-nb img{
	width: 100%;
    height: 483px;
	margin-bottom: 10px;
    object-fit: cover;

}
.content-nb h4 {
	margin-bottom: 10px;
}
.content-nb h4 a{
	font-size: 22px;
	color: #fd4549;
	text-decoration: none;
}
.meta span{
	margin-right: 10px;
	font-size: 13px;
	color: #888;
}
.meta {
	margin-bottom: 10px;
}
.content-nb p{
	font-size: 15px;
	color: #333;
	line-height: 23px;
	margin-bottom: 10px;
}
.content-nb {
	margin-bottom: 15px;
}
.list-nb {
	margin-bottom: 20px;
}
.list-nb .list-post img{
	width: 100%;
    object-fit: cover;
}
.list-nb .list-post h4 a{
	font-size: 15px;
	line-height: 23px;
}
.content-news .news-detail img{
	float: left;
	margin-right: 10px;
	height: 150px;
	width: 265px;
    object-fit: cover;
}
.content-news .news-detail h4 a{
	font-size: 22px;
	color: #fd4549;
	text-decoration: none;
}
.content-news .news-detail p{
	font-size: 15px;
	line-height: 22px;
}



.news-detail {
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ededed;
}

.widget {
	margin-bottom: 30px;
}
.widget h3{
	background: #fd4549;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    margin-bottom: 0px;
}
.content-w {
    border: 1px solid #ededed;
}

.content-w ul li {
    padding: 8px 20px;
}

.content-w ul li a {
    color: #4e4e4e;
    font-weight: 500;
}
.content-new ul li img {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 10px;
    object-fit: cover;
}
.content-new ul li h4{
	margin-bottom: 5px;
}
.content-new ul li h4 a{
	font-size: 14px;
	color: #333;
}
.content-new ul li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ededed;
}
.content-mostv ul li {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ededed;
}
.content-mostv ul li span{
	display: inline-block;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 15px;
	background: #fd4549;
	color: #fff;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.content-mostv ul li h4 a{
	color: #333;
	font-size: 15px;
	line-height: 22px;
}

@media (max-width: 1200px) {
	.menu-header ul li a {
	    padding: 13px 15px;
	}
}
@media (max-width: 991px) {
	.menu-header, .banner{
	    display: none;
	}
	.logo{
		width: 100%;
	    text-align: center;
	    border-bottom: 2px solid #ededed;
	    padding-bottom: 15px;
	}
}
@media (max-width: 630px) {
	.style-box{
		width: 100%;
	}
	.post-news .content-news .news-detail img{
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.content-wc img{
		width: 100%;
	}
	}
