{% extends "partials/base.html" %}
{% load static %}
{% block content %}
{%load widget_tweaks%}
  {% comment %} <h1>Create a Group</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit">Create Group</button>
  </form> {% endcomment %}
  {% comment %} <a href="{% url 'yourapp:group_list' %}">Back to Group List</a> {% endcomment %}

<!-- Main Contents -->
<div class="main_content">
  <div class="mcontainer">

      <!--  breadcrumb -->
      <div class="breadcrumb-area py-0">
          <div class="breadcrumb">
              <ul class="m-0">
                  <li>
                      <a href="index.html">Group {{group.name}}</a>
                  </li>
                  <li class="active">
                      <a href="#">Create New Post </a>
                  </li>
              </ul>
          </div>
      </div>


      <!-- create page-->
      <form method="post" enctype="multipart/form-data" class="max-w-2xl m-auto shadow-md rounded-md bg-white lg:mt-20">  
        {% csrf_token %}
          <!-- form header -->
          <div class="text-center border-b border-gray-100 py-6">
              <h3 class="font-bold text-xl"> Create New Post </h3>
          </div>

          <!-- form body -->
          <div class="p-10 space-y-7">

              <div class="line">
                  {% render_field form.title class="line__input"%}
                  
                  <span for="username" class="line__placeholder"> Post Title </span>
              </div>

              <div class="line h-32"> 
                {% render_field form.image class="form-control"%}
                  
              </div>

              <div class="line h-32"> 
                {% render_field form.visibility class="line__input"%}
                  <span for="username" class="line__placeholder"> Post visibility </span> 
              </div>

              
              
          </div>
          
          <!-- form footer -->
          <div class="flex justify-center border-gray-100 py-8">
              <button type="submit" class="button lg:w-1/3">
                  Create Now
              </button>
          </div>
          
        </form>


  </div>
</div>

{% endblock %}