$m_top : 10px;

.content_company {
    width: 80%;
    padding: 20px 20px 40px 25px;
    button{
        float: right;
    }
    .infor_detail {
        .change_img{
            width: 170px;
            height: 113px;
            border: 1px solid gray;
            margin-top: $m_top;
        }
        label {
            font-size: 20px;
            font-weight: 700;
        }

        input {
            width: 60%;
        }

        img {
            width: 50%;
            transform: translateX(20px);
            margin-top: $m_top;
        }

        .name_company {
            margin-left: 10px;
            margin-top: $m_top;
        }

        .address {
            margin-left: 85px;
            margin-top: $m_top;
        }

        .email {
            margin-left: 110px;
            margin-top: $m_top;
        }

        .phone {
            margin-left: 20px;
            margin-top: $m_top;
        }
    }
}