{% extends "base.html" %}
{% block head_title%}{{post.title}} | {{post.author}}{%endblock%}
{% block content %}
current user: {{user.id}}
post auther: {{post.author.id}}
<h1>{{post.title}} | {{ post.author.id}}</h1><br/>
{% if post.draft %} <span style='color:red;'>Draft</span> {% endif %}
<small>By: {{ post.author}} | {{post.post_date}}</small><br/>

{{post.body|safe}}<br/>
{{post.pk}}<br/><br/>

<a href="{% url 'HomeView' %}" class="btn btn-success">Back</a>
<h2> Comment </h2>
{% if not post.comments.all %}
<a href="{% url 'AddCommentView' post.pk%}">Add Comment</a>
{% else %}

    {% for comment in post.comments.all %}
        <strong>{{ comment.name}}</strong> - <small>{{ comment.date_added}}</small><br/>
        {{comment.body}}
    {% endfor %}
    <br/><br/>
    <a href="{% url 'AddCommentView' post.pk%}">Add Comment</a>
{% endif %}
<br/><br/>
{%endblock%}