
// color
$fontclr: #362222;
$gray: #575757;
$boderclr: rgba(0, 0, 0, 0.1);
$bgclr: #fff;
$bgclr3: #5E454B; 
$fontclrlight: #fff;
$bgclr2: #FCECDD;
$slider-bar: #221e2360;
$inputpad: 8px 45px 8px 8px;
//ease
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

