<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/style.css" />
    <script src="https://kit.fontawesome.com/f6dce9b617.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/css/bootstrap.css">
    <script defer src="./public/js/bootstrap.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- Top Header -->
    <div class="topHeader">
        <div class="container">
            <div class="topHeader__menu--logo">
                <a href="#"><img src="./public/img/logo-td.png" alt="" /></a>
                <span>Việc làm hàng đầu</span>
            </div>
            <div class="topHeader__menu--contact">
                <ul>
                    <li>
                        <a href="#"><i class="fa-solid fa-phone"></i>028 3897 0023</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-user"></i>Đăng tuyển</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-address-book"></i>Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Top Header -->

    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light container">
            <div class="container-fluid header__left">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Việc làm
                                IT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Tạo CV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Công ty
                                IT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Blog IT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header__right d-flex">
                <ul>
                    <li><a class="btn btn-danger header__right--logemp" href="#">Đăng tuyển</a></li>
                    <li><a class="btn btn-dark header__right--logcus" href="#">Đăng nhập</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Search -->
    <div class="search container">
        <form action="">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="text" class="search__input form-control" placeholder="Nhập từ khoá tìm kiếm">
            <button type="submit" class="search__btn btn btn-danger">Tìm kiếm</button>
        </form>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer__adresse ">
                    <!-- <a href=""><img src="img/logo-td.png" alt="" /></a> -->
                    <ul>
                        <li>
                            53 Đ. Võ Văn Ngân, Linh Chiểu, Thành Phố Thủ Đức, Thành phố Hồ
                            Chí Minh
                        </li>
                        <li>Copyright © 2011 TDC - All Rights Reserved</li>
                        <li>Liên Hệ: 028 3897 0023 - itworks@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-3 footer__aboutus footer__footer">
                    <h6>Về IT Works</h6>
                    <ul>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Quy định sử dụng</a></li>
                        <li><a href="#">Cơ hội việc làm</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer__customer footer__footer">
                    <h6>Ứng viên</h6>
                    <ul>
                        <li><a href="#">Tìm việc IT</a></li>
                        <li><a href="#">Tạo CV</a></li>
                        <li><a href="#">Blog IT</a></li>
                        <li><a href="#">Cộng đồng</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer__employer footer__footer">
                    <h6>Ứng viên</h6>
                    <ul>
                        <li><a href="#">Đăng việc làm IT</a></li>
                        <li><a href="">Tạo CV</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- End Footer -->
</body>

</html>
